<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Test Website</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/gkx8zdh.css">
    <link rel="stylesheet" href="https://use.typekit.net/kha5kwj.css">



  </head>

  


  <body>



    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>




    <div class="topnav navbar sticky">
  <p class="name-logo"><a href="https://survey.kennylpeng.repl.co" style="font-family: minion-pro; font-size: 24px; margin-top: 0px; padding-top: 0px">HMEI | <span style="font-family: adobe-garamond-pro; font-weight: 600">Hurricane Hazard Forecasting</span></a></p>
  <div class="topnav-right">
    <a href="#section1">Combined Hazard</a>
    <a href="#section2">Rainfall</a>
    <a href="#section3">Wind</a>
    <a href="#section4">Surge</a>
  </div>
</div>

    <div id="title-page" class="desktop">
 

    <div class="centered">
      <h2 id="overline"> Real-Time Forecasting System </h2>
        <h1 id="title"> Hurricane Hazards and Risk </h1>

        <!-- Show warning labels using conditional HTML code, "low" "medium" "high" are defined in and sent from app.py -->

       {% if high %}
      <div class="alert alert-warning">
      
      <p>Red Alert: {{high}}</p>
      
    </div>
    {% endif %}             

    {% if medium %}
    
    <div class="alert alert-medium">
      
      <p>Orange Alert: {{medium}}</p>
      
    </div>
    {% endif %}              

    {% if low %}
    <div class="alert alert-low">
     
      <p>Yellow Alert: {{low}}</p>
      
    </div>

    {% else %}
    <div class="alert alert-allclear">
      
      <p>All Clear: No imminent hazard predicted.</a></p>
      
    </div>
    {% endif %}
       </div> 
      
      <div class="row">
        
      <div class="column-left">
  
        
      </div>
      <div class="column-right">
        
          <div id="intro">
            <p>
      
              </p>
              
            </div>
      </div>
    </div>
    </div>
    </div>

 </div> <!-- class="centered" -->
    </div> <!-- id = "title-page" -->
    
    <div class="main">

        <!-- Main hazard map -->

    <div id = "section1" class = "map">
      <h1 class="map-title">HAZARD MAP</h1>
      <iframe title="Hurricane Hazard Intensity" aria-label="Map" id="datawrapper-chart-7dLIw" src="https://datawrapper.dwcdn.net/7dLIw/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="487"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
<br><br><br>

<!-- Colour-wise key -->
<ul>
	<li>
		<div class="color" style="border-color: #C9D1DA"></div>
		<div class="text">0-25</div>
	</li>
	<li>
		<div class="color" style="border-color: #FEF001"></div>
		<div class="text">Low: 25-50</div>
	</li>
	<li>
		<div class="color" style="border-color: #FFCE03"></div>
		<div class="text">Low: 50-75</div>
	</li>
	<li>
		<div class="color" style="border-color: #FD9A01"></div>
		<div class="text">Medium</div>
	</li>
	<li>
		<div class="color" style="border-color: #FD6104"></div>
		<div class="text">Medium+</div>
	</li>
	<li>
		<div class="color" style="border-color: #FF2C05"></div>
		<div class="text">High</div>
	</li>
	<li>
		<div class="color" style="border-color: #F00505"></div>
		<div class="text">Very High</div>
	</li>
</ul>
</div>

<!-- Rainfall map -->

<div id = "section2" class = "map">
<iframe title="Rainfall Map" aria-label="Map" id="datawrapper-chart-OJCJD" src="https://datawrapper.dwcdn.net/OJCJD/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="484"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
</div>

<!-- Wind map -->

<div id = "section3" class = "map">
<iframe title="Wind Map" aria-label="Map" id="datawrapper-chart-YE33P" src="https://datawrapper.dwcdn.net/YE33P/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="480"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
</div>

<!-- Surge map -->
<div id = "section4" class = "map">
<iframe title="Surge Map" aria-label="Map" id="datawrapper-chart-jz52m" src="https://datawrapper.dwcdn.net/jz52m/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="507"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
</script>
</div>




    <br><br>
    </div>
    </body>
    </html>
